@model List<MvcMusicStore.Models.Album>
@{
    ViewBag.Title = "The Music Store";
}

<div id="promotion">
</div>
<h3><em>New Tracks</em> Trending in the market</h3>

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">

            <img alt="@album.Title" src="@album.AlbumArtUrl" />
            <span>@album.Title</span> </a>
        </li>
    }
</ul>
               <div id="dailydeal">
                   @Ajax.ActionLink("Click here to see today's special!", "DailyDeal", null,
                    new AjaxOptions
                    {
                        UpdateTargetId = "dailydeal",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    },
                    new { @class = "btn btn-primary" })
               </div>